Repository bounswe/bounswe2025group8, pull requests merged in 2025-05, with the labels that each got.

#146 Implemented login, register pages
  practice-app/mobile/app/(tabs)/_layout.tsx
  practice-app/mobile/app/(tabs)/explore.tsx
  practice-app/mobile/app/(tabs)/index.tsx
  practice-app/mobile/app/_layout.tsx
  practice-app/mobile/app/index.tsx
  practice-app/mobile/app/signin.tsx
  practice-app/mobile/app/signup.tsx
  practice-app/mobile/assets/images/logo.png
  practice-app/mobile/assets/images/logo.png:Zone.Identifier
  practice-app/mobile/package.json
Labels: mobile

#154 feat(backend): add photo and bookmark serializers and views
  practice-app/backend/core/api/serializers/bookmark_serializers.py
  practice-app/backend/core/api/serializers/photo_serializers.py
  practice-app/backend/core/api/views/bookmark_views.py
  practice-app/backend/core/api/views/photo_views.py
Labels: backend

#187 feat(mobile): implement profile pages
  app/mobile/app/profile.tsx
  app/mobile/app/r-active-requests.tsx
  app/mobile/app/r-past-requests.tsx
  app/mobile/app/r-request-details.tsx
  app/mobile/app/select-volunteer.tsx
  app/mobile/app/v-active-requests.tsx
  app/mobile/app/v-past-requests.tsx
  app/mobile/app/v-request-details.tsx
  app/mobile/components/ui/CategoryCard.tsx
  app/mobile/components/ui/ProfileTop.tsx
  app/mobile/components/ui/RatingPill.tsx
  app/mobile/components/ui/RequestCard.tsx
  app/mobile/components/ui/ReviewCard.tsx
  app/mobile/components/ui/TabButton.tsx
  app/mobile/constants/Colors.ts
Labels: priority-high, high-effort, mobile

#203 Frontend/development to main
  app/backend/docker-compose.yml
  app/backend/neighborhood_assistance_board/settings.py
  app/frontend/src/services/authService.js
  app/frontend/src/services/profileService.js
Labels: frontend, backend
